body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

img {
  height: 60%;
  width: 60%;
  object-fit: contain;
}

/* Primary Divisions */
.header {
  background-color: #d93d66;
}

.body {
  display: flex;
}

/* Page Columns */
.left {
  width: 30%;
  margin: 1rem;
  background-color: #f1f1f1;
}

.center {
  width: 45%;
  margin: 1rem;
  background-color: #536473;
}

.right {
  width: 25%;
  margin: 1rem;
}

/* Page Components (Parents)*/
/* Header -- Navigation Bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 60px;
  text-decoration: none;
  font-size: 18px;
  border: 2px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #ddd;
  color: black;
}

/* Style the search box inside the navigation bar */
.topnav input[type="text"] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.tweet-form {
  float: right;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a,
  .topnav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}

.profile-main {
  position: relative;
  height: 400px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #f2eceb;
  border: 0.1em solid gray;
}

.profile-main-top {
  border: 0.1em solid gray;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 100px;
  height: calc(100% - 200);
  width: 100%;
  background-color: #1c3879;
}

.profile-main-bottom {
  border: 0.1em solid gray;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 160px;
  width: 100%;
  background-color: white;
}

.profile-main-name {
  display: block;
  text-align: right;
  font-size: 1.5em;
  padding-right: 10%;
  position: relative;
}

.profile-main-picture {
  position: absolute;
  top: 120px;
  left: 40px;
  height: 250px;
  width: 250px;
}

.profile-main-buttons-row {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 10%;
}

.profile-main-buttons {
  display: inline-block;
  padding: 10px 20px;
  width: auto;
  height: auto;
}

.profile-details {
  background-color: #607eaa;
  height: 400px;
  border: 0.1em solid gray;
  padding: 20px;
}

.news-feed {
  background-color: #839aa8;
  border: 0.1em solid gray;
}

.side-bar {
  height: 500px;
  font-size: 1.5em;
  background-color: #54bab9;
  border: 0.1em solid gray;
  padding: 0.5em;
}

/* Page Component (Children) */
.side-bar-item {
  background-color: #9ed2c6;
  display: flex;
  border: 1px solid black;
  margin: 1em;
}

.side-bar-left-column {
  width: 50%;
  text-align: center;
}

.side-bar-right-column {
  width: 50%;
}

.side-bar-item-pic {
  padding-top: 10px;
}

.news-feed-search {
  display: flex;
  background-color: gray;
  padding: 1rem;
}

.news-feed-user-icon {
  width: 30%;
}

.news-feed-search-bar {
  width: 70%;
}

.news-item {
  border: 1px solid #ccc;
  display: flex;
}

.news-item-left {
  padding-top: 25px;
  width: 30%;
}

.news-item-right {
  width: 70%;
}
